<iocFramework>
  <!--<containerManager>
		<modules>
			<module invariantName="BusinessAssembly" assemblyName="Assembly Name Here" className="Full Class Name" />
			<module invariantName="DaoAssembly" assemblyName="Assembly Name Here" className="Full Class Name" />
		</modules>
	</containerManager>-->

  <thumb notFoundPath="" defaultWidth="" defaultHeight="" />

  <dataTransfer>
    <transfers>
      <transfer invariantName="" enable="true" fromEmptyWarningEnable="" fromEmptyWarningTo="" fromEmptyWarningCc="" fromEmptyWarningSubject="" fromEmptyWarningBody="">
        <from type="" host="" port="" userName="" password="" path="" />
        <to type="" host="" port="" userName="" password="" path="" searchPattern="" deleteAfter="" />
      </transfer>
    </transfers>
  </dataTransfer>
</iocFramework>